mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.showImage {
  width: 100%;
  margin: 20px 0;
}

.showImage img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}
